<a href="https://colab.research.google.com/github/fxdata/algo-course/blob/master/C01_W01_P01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Exercise 1:
#Keratsuba multiplication
import math

88 12 99 34
278 20 314 4
881 2 993 4

In [0]:
def multiply_suba(x,y):
    if max(x,y) < 10:
        n = int(math.ceil(math.log(max(x,y),10)))
        a = int(x / 10**(n/2))
        b = int(x % 10**(n/2))
        c = int(y / 10**(n/2))
        d = int(y % 10**(n/2))
        ac = multiply_suba(a,c)
        bd = multiply_suba(b,d)
        mid = multiply_suba(a+b,c+d) - ac - bd
        #print(n, ac, bd, mid)
        return 10**n * ac + 10**int((n/2)) * mid + bd 
    else:
        return x*y

In [0]:
x=3141592653589793238462643383279502884197169399375105820974944592
y=2718281828459045235360287471352662497757247093699959574966967627
print(multiply_suba(x, y))

8539734222673567065463550869546574495034888535765114961879601127067743044893204848617875072216249073013374895871952806582723184